[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=PrompTTY
GenericName=TerminalEmulator

Exec=promptty %U
StartupWMClass=dev.promptty.PrompTTY

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.promptty.PrompTTY

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for promptty:// URLs.
MimeType=x-scheme-handler/promptty;
